button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 100%;
}

.submitBtn {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitBtn:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  color: #666;
}

.registerLink {
  cursor: pointer;
  color: #4caf50;
  text-decoration: none;
}

.registerLink:hover {
  text-decoration: underline;
}
