@use 'src/styles/mixins.scss' as *;

.card {
  @include link-reset;
  @include hover-shift(5px, var(--color-accent));
  display: block;
  max-width: 300px;
  padding: 10px;
  text-align: center;
  border: solid 2px var(--color-shade);
  transition: all 0.3s;
  &__imageContainer {
    max-width: 280px;
    max-height: 280px;
    margin: 0 auto;
  }
  &__title {
    font-family: var(--font-family--sans-serif);
    font-size: 24px;
    color: var(--color-accent);
  }
}
