.togglePassword {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0, -50%);
  width: 25px;
  height: 25px;
}

.showPassword {
  width: 25px;
  height: 25px;
  background: url(../../assets/icons/eye-hide.svg);
  transition: 0.2s linear;
}

.hidePassword {
  width: 25px;
  height: 25px;
  background: url(../../assets/icons/eye-show.svg);
  transition: 0.2s linear;
}
