*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Playfair Display', serif;
  color: var(--color-base-text);
  background-color: var(--color-base-bg);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-accent);
  transition: color 0.3s;
  &:hover {
    color: var(--color-shade);
  }
}
