:root {
  --color-base-bg: #ccc5b9;
  --color-base-text: #252422;
  --color-accent: #eb5e28;
  --color-shade: #403d39;
  --color-light: #b4a998;

  --font-family--serif: 'Playfair Display', serif;
  --font-family--sans-serif: 'Roboto', sans-serif;
  --font-family--accent: 'Jacques Francois Shadow', serif;
}
