@use 'src/styles/mixins.scss' as *;

.container {
  display: flex;
  @include container_shadow;
  align-items: start;
  background-color: var(--color-soft);
  justify-content: space-between;
  gap: 20px;
  @include media-medium-desktop {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.image {
  flex: 0 0 200px;
  height: 250px;
  @include media-medium-desktop {
    flex: 0 0 180px;
  }
  @include media-tablet {
    min-width: 100%;
    position: relative;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    @include media-tablet {
      position: absolute;
      max-width: 260px;
      top: 0;
      left: calc(50% - 130px);
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 200px;
  align-self: auto;
  gap: 20px;
  @include media-medium-desktop {
    flex-wrap: wrap;
    gap: 10px;
    max-width: 150px;
  }
  & > *:nth-child(2) {
    margin-top: 20px;
    max-width: max-content;
  }
}

.label {
  font-size: 1.8rem;
}

.controller {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  @include media-medium-desktop {
    flex-direction: row;
    width: 100%;
  }
  @include media-tablet {
    flex-direction: column;
  }
}

.quantity_container {
  display: flex;
  align-self: center;
  font-size: 2rem;
  gap: 6px;
  @include media-tablet {
    font-size: 1.6rem;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem 0.8rem;
  border: 2px solid var(--color-dark);
  border-radius: 1rem;
  @include media-tablet {
    padding: 0 0.3rem 0.3rem;
  }
}

.quantity_sign {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--color-light);
}

.update {
  background-color: var(--color-modify);
}

.disable {
  background-color: var(--color-soft);
  &:hover {
    transform: none;
    box-shadow: none;
  }
}

.totalPrice {
  align-self: center;
  margin-right: 60px;
  border-bottom: 2px solid var(--color-dark);
}
