@use 'src/styles/mixins.scss' as *;

.container {
  display: flex;
  @include container_shadow;
  align-items: start;
  background-color: var(--color-soft);
  justify-content: space-between;
  gap: 20px;
}

.image {
  & img {
    height: 200px;
    width: 250px;
    border-radius: 1rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 200px;
  align-self: auto;
  & > *:not(:last-child) {
    margin-bottom: 20px;
    max-width: max-content;
  }
  & > *:nth-child(2) {
    margin-top: 20px;
    max-width: max-content;
  }
}

.label {
  font-size: 1.8rem;
}

.controller {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.quantity_container {
  display: flex;
  align-self: center;
  font-size: 2rem;
  & > *:not(:last-child) {
    margin-right: 6px;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border: 2px solid var(--color-dark);
  border-radius: 1rem;
  & > * {
    align-self: center;
  }
}

.quantity_sign {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--color-light);
}

.update {
  background-color: var(--color-modify);
}

.disable {
  background-color: var(--color-soft);
  &:hover {
    transform: none;
    box-shadow: none;
  }
}

.totalPrice {
  align-self: center;
  margin-right: 60px;
  border-bottom: 2px solid var(--color-dark);
}
