.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../assets/images/background-page.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  flex: 1 0 auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.title {
  font-size: 3rem;
  color: var(--text-green);
}

.text {
  font-size: 2rem;
  color: var(--text-dark);
}

.img {
  width: 60px;
}
