.container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info,
.body {
  border-bottom: 1px solid var(--color-dark);
}

.body {
  align-self: start;
  width: 100%;
  h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.order_info {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
// .order_btn {
//   align-self: center;
// }

// .remove_btn {
//   align-self: center;
// }
